/* body {
    background-image: url("https://images.pexels.com/photos/2763927/pexels-photo-2763927.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
} */

.btn {
    cursor: pointer;
}

.fa-user {
    font-size: 80px;
}